<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body style="font-size:20px" ng-app="myapp" ng-controller="myctrl">
<p style="text-align: center">
			 <span style="color:#e53238;font-size:40px">ECEP</span>
			</p>
<div class="container" style="width:436px;margin:0 auto;style="border: 2px solid black">

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#Signin" style="width:200px">Sign in</a></li>
                <li>
                    <a data-toggle="tab" href="#Register" style="width:200px">Register</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div></br>
            </div>
            <div id="Signin" class="tab-pane fade in active">
                <form id="logininform">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" placeholder="username" style="margin-left:-5px;width:385px" ng-model="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd" placeholder="Password" style="margin-left:-5px;width:385px" ng-model="password">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary " value="Sign in" style="margin-left:-5px;width:385px" ng-click="validatecheckin()">
                    </div>
                    <div class="text-center">
                        <a href="" tabindex="5" class="forgot-password">Forgot Password?</a>
                    </div>
                </form>
            </div>


            <div id="Register" class="tab-pane fade">
                <form id="registerform">
                    <div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="user" placeholder="username" style="margin-left:-5px;width:385px" ng-model="newuser">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pwd" placeholder="Password" style="margin-left:-5px;width:385px" ng-model="newpass">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="pwdcheck" placeholder="Re-Enter the Password" style="margin-left:-5px;width:385px" ng-model="newpass1">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="firstname" placeholder="First Name" style="margin-left:-5px;width:185px;float:left" ng-model="fname"/>  <input type="text" class="form-control" id="lastname" placeholder="Last Name" style="margin-right:-5px;width:185px;float:right" ng-model="sname"/>
                    </div>
                    </br>
                    </br>
                    <div class="form-group">


                        <input type="submit" class="btn btn-primary " value="Sign up" style="margin-left:-5px;width:385px" ng-click="registeruser()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

</div>

</body>
<script>

var app=angular.module("myapp",[]);
app.controller("myctrl",function($scope,$http){

    console.log("inside signin");
    $scope.validatecheckin=function () {


        var user = $scope.username;
        var pass = $scope.password;
        console.log(user);
        $http({
            method: 'POST',
            url: '/checklogin',
            data :{
                'user':$scope.username,
                'password':$scope.password
            }
        }).success(function mysucess(response){
            console.log(response);

            if(response.statusCode==200)
            {
                window.alert("signin successfull");
                window.location.assign("/homepage");

            }
            else
            {
                window.alert("signin unsuccessfull");
            }

        });
    }

    $scope.registeruser=function(){

       console.log("inside register html function");

        $http({
            method:'POST',
            url:'/registeruser',
            data:{
                'newuser':$scope.newuser,
                'password':$scope.newpass,
                'firstname':$scope.fname,
                'lastname':$scope.sname
            }
        }).success(function mysuccess(response){
            console.log(response);
            if(response.statusCode==200)
            {
                window.alert("user added!!! sign in ");
                window.location.assign("/signin");
            }
            else
            {
                window.alert("user already exists");
            }
        });

    }
});

</script>
</html>

