<!DOCTYPE html>
<html>
<body>
<form action="create" method="post" enctype="multipart/form-data">
	<fieldset>
		<label for="image">Container Image:</label>
		<input type="text" id="image" name="image" placeholder="Enter Container Image type" />
		<br />
		<label for="device">Device:</label>
		<input type="text" id="device" name="device" placeholder="Enter Device name" />
		<br />
		<label for="container_name">Container Name:</label>
		<input id="container_name" name="container_name" placeholder="Enter a Conatiner Name"></input>
		<br />
		<label for="inernal">Internal Command:</label>
		<input id="internal" name="internal" placeholder="Enter a Internal Command"></input>
		<br />
		Select a file: <input type="file" name="img">
		<br />
		<input type="submit" value="Create Container" />
	</fieldset>
</form>
</body>
</html>